<div class="metadata-container" *ngIf="fileId || documentId; else noSelection">
  <h3 *ngIf="fileId">Metadati: {{ fileId }}</h3>
  <h3 *ngIf="!fileId && documentId">Metadati del Documento: {{ documentId }}</h3>
  
  <div *ngIf="loading" class="loading">Caricamento...</div>
  
  <div *ngIf="!loading && attributes.length > 0" class="table-wrapper">
    <table class="meta-table">
      <thead>
        <tr>
          <th>Attributo</th>
          <th>Valore</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attr of attributes">
          <td class="key-col" title="{{attr.key}}">{{ attr.key }}</td>
          <td class="val-col">{{ attr.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!loading && attributes.length === 0" class="empty">
    Nessun metadato trovato {{ fileId ? 'per questo file' : 'per questo documento' }}.
  </div>
</div>

<ng-template #noSelection>
  <div class="empty-state">Seleziona un file o documento per visualizzare i metadati.</div>
</ng-template>